$primary: #d44b52;
$white: #fff;
$gray: #ccc;

.main-content {
  width: 70vw;
  height: 70vh;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -35vw;
  margin-top: -35vh;
}
.score-board {
  margin: 50px auto 50px 50px;
  height: 300px;
}

.my-button {
  display: inline-block;
  border: solid 2px;
  padding: 12px;
  border-radius: 30px;
  border-color: $primary;
  background: $white;
  color: $primary;
  margin: 2px 5px 2px 5px;
  box-shadow: 0 6px 14px 0 rgba(80, 80, 80, 0.33);
  font-weight: 500;
  &:hover {
    cursor: pointer;
    background: $primary;
    color: $white;
  }
}

.panel {
  width: 100%;
  background: $white;
  opacity: 0.9;
  position: absolute;
  bottom: 0;
  padding: 20px;
}
.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 18px;
    font-weight: 600;
  }
}

.board-grid {
  width: 900px;
  display: grid;
  grid-template-columns: 12% 12% 12% 33.33% 16.67% 14%;
}

input {
  outline-style: none;
  border: 1px solid $gray;
  border-radius: 5px;
  padding: 7px 7px;
  margin: 10px;
}

/* customized raido */
.radio {
  margin: 1rem;

  input[type="radio"] {
    position: absolute;
    opacity: 0;

    + .radio-label:before {
      content: "";
      background: #f4f4f4;
      border-radius: 100%;
      border: 1px solid #b4b4b4;
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-right: 1rem;
      margin-top: 2rem;
      vertical-align: center;
      cursor: pointer;
      text-align: center;
    }

    &:checked + .radio-label:before {
      background-color: #d44b52;
      box-shadow: inset 0 0 0 4px #f4f4f4;
    }

    &:focus + .radio-label:before {
      outline: none;
      border-color: #d44b52;
    }

    &:disabled + .radio-label:before {
      box-shadow: inset 0 0 0 4px #f4f4f4;
      border-color: #b4b4b4;
      background: #b4b4b4;
    }

    + .radio-label:empty:before {
      margin-right: 0;
    }
  }
}
